* {
   margin: 0px;
   padding: 0px;
   font-family: "Noto Sans", sans-serif;
}

html {
   scrollbar-gutter: stable;
}

.noscroll {
   position: fixed;
   overflow-y: scroll;
}

:root {
   --color-green: #3db46d;
   --color-lightgreen: #c7ecd6;
   --color-lightgray: #bdbdbd;
   --color-grey: #2e2e2e;
   --color-red: #eb5757;
   --layout-width: min(1120px, 92%);
}

.App {
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   background-color: hsl(0, 0%, 100%);
   min-height: 100vh;
   flex-direction: column;
}

.loading-home-container {
   width: 100dvh;
   height: 100dvh;
   display: flex;
   align-items: center;
   justify-content: center;
}
