.loader-container {
   width: 64px;
   height: 64px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.loader-spinner {
   width: 48px;
   height: 48px;
   border: 5px solid rgba(255, 255, 255, 0.2);
   border-top-color: var(--color-green);
   border-radius: 50%;
   animation: spin 0.8s linear infinite;
}

@keyframes spin {
   to {
      transform: rotate(360deg);
   }
}
